
*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
body{
    font-family: "Pacifico",Alex Brush,'Times New Roman', Times, serif;
    margin: 20px 35px;
    font-size: 20px;
    padding:10px ;
}
.mainpart{
    background-image: url("https://cdn.shopify.com/s/files/1/0322/9623/9242/products/pastel-digital-printed-tussar-silk-floral-design-fabric-1-mtr-895460.jpg?v=1673250003");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: rgb(177, 196, 188); */
    padding: 5px 20px 15px 20px;
    border: 2px solid black;
    border-radius: 6px;
            
}
input[type="text"]{
    width: 95%;
    border: 1px solid black;
    border-radius: 2%;

}
        
.submit{
    height: 50px;
    position: relative;
    border-radius: 1%;
        /* margin: 0;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); */
}
.center{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
        
input[type="submit"]{
    width: 120%;
    font-size: 80%;
    background-color: rgb(30, 114, 153);
}
textarea{
    width: 100%;
    border: 1px solid black;
    border-radius: 2%;
}
.note{
    height: 50px;
    width: 100%;
}
.day{
    width: 20%;
    font-size:120%;

}
.date{
    font-size: 180%;
}
fieldset{
    width: 100%;
    border: 2px solid black;
    border-radius: 1%;
}
.gridcontainer{
    display: grid;
    height: 80%;
    column-gap: 20px;
    grid-template-columns: 3fr 1fr;
            
}
.griditem1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
.griditem2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
